# This is a configuration definition file in folder "/home/tarik/LTLMoP/src/examples/SMORES_Test/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
MODASL

Name: # Configuration name
SMORES

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
SMORES.SMORESActuatorHandler()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[  1.38649872e+03,   3.59195363e+00,  -3.60119624e+02],
       [ -1.34780734e+01,   1.23725084e+03,  -5.76713007e+02],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.DifferentialDriveHandler(d=0.6)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
SMORES.SMORESInitHandler(smores_lib_path="/home/tarik/Embedded/ecosystem/smores_build/smores_reconfig/python/",module_id=7)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
SMORES.SMORESLocomotionCommandHandler()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
share.Pose.AprilPoseHandler(robotTagNumber=0)

RobotName: # Robot Name
MODASL

SensorHandler: # Sensor handler file in robots/Type folder
SMORES.SMORESSensorHandler()

Type: # Robot type
SMORES

